body{
    background: linear-gradient(
        70deg,
        rgb(43, 111, 128) 0%,
        rgb(97, 194, 189) 100%
    );
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
}

.container{
    outline: #25615c solid 10px;
    text-align: center;
    padding: 16px;
    background: linear-gradient(
        70deg,
        rgb(43, 111, 128) 0%,
        rgb(97, 194, 189) 100%
    );
}

input[type = text] {
    text-align: center;
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: black;
    background: #f1f1f1;
}

input [ type = text]:focus {
    background-color: #ddd;
    border: none;
}

hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn{
    background-color: #04AA6D;
    color: whitesmoke;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover{
    opacity: 1;
}

a{
    color: rgb(164, 214, 202);
}

.signin{
    background-color: #f1f1f1;
    text-align: center;
}